.categories {
  &__text-gradient {
    &--casual {
      background: -webkit-linear-gradient(#ffffff, #dae9eb, #00000000);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--sports {
      background: -webkit-linear-gradient(#ffffff, #c8c9b9, #00000000);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--formal {
      background: -webkit-linear-gradient(#cceafb, #cef3f8, #e7e4c359);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
